USE [master]
GO
/****** Object:  Database [JP_ShopThoitrang]    Script Date: 03/12/2023 10:15:34 PM ******/
CREATE DATABASE [JP_ShopThoitrang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JP_ShopThoitrang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\JP_ShopThoitrang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JP_ShopThoitrang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\JP_ShopThoitrang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JP_ShopThoitrang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JP_ShopThoitrang]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 03/12/2023 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalogs]    Script Date: 03/12/2023 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalogs](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[catalog_id] [varchar](50) NOT NULL,
	[catalog_name] [nvarchar](max) NULL,
	[catalog_image] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[catalog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 03/12/2023 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[transactions_id] [varchar](100) NOT NULL,
	[product_id] [varchar](100) NULL,
	[quantity] [int] NULL,
	[total_price] [int] NULL,
	[data] [text] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 03/12/2023 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[product_id] [varchar](100) NOT NULL,
	[catalog_id] [varchar](50) NOT NULL,
	[product_name] [nvarchar](max) NOT NULL,
	[image_main] [text] NULL,
	[image_sub] [text] NULL,
	[price] [int] NULL,
	[content] [nvarchar](max) NULL,
	[discount] [int] NULL,
	[quantity] [int] NULL,
	[quantity_sold] [int] NULL,
	[status] [int] NULL,
	[created] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 03/12/2023 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[transactions_id] [varchar](100) NOT NULL,
	[status] [int] NULL,
	[user_id] [int] NULL,
	[username] [nvarchar](max) NOT NULL,
	[phonenumber] [varchar](13) NULL,
	[gmail] [varchar](100) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[total_price] [int] NULL,
	[payment] [varchar](50) NULL,
	[payment_info] [text] NULL,
	[message] [nvarchar](max) NULL,
	[security] [varchar](100) NULL,
	[created] [smalldatetime] NULL,
	[shipping] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[transactions_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 03/12/2023 10:15:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[gmail] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[username] [nvarchar](max) NULL,
	[address] [nvarchar](max) NOT NULL,
	[phone] [varchar](13) NULL,
	[avatar] [text] NULL,
	[position] [int] NULL,
	[created] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admins] ON 

INSERT [dbo].[admins] ([id], [name], [username], [password]) VALUES (1, N'Nguyễn Văn Nam', N'thienthan10x99', N'0123456')
SET IDENTITY_INSERT [dbo].[admins] OFF
GO
SET IDENTITY_INSERT [dbo].[catalogs] ON 

INSERT [dbo].[catalogs] ([id], [catalog_id], [catalog_name], [catalog_image]) VALUES (11, N'20230308191423catalog_id', N'Đồ Chơi - Mẹ & Bé', N'22420230308191423Danhmuc.jpg')
INSERT [dbo].[catalogs] ([id], [catalog_id], [catalog_name], [catalog_image]) VALUES (12, N'20230308194134catalog_id', N'Điện Thoại - Máy Tính Bảng', N'21320230308194134Danhmuc.jpg')
INSERT [dbo].[catalogs] ([id], [catalog_id], [catalog_name], [catalog_image]) VALUES (13, N'20230308194241catalog_id', N'Thời Trang Nam', N'90320230308194241Danhmuc.jpg')
SET IDENTITY_INSERT [dbo].[catalogs] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [transactions_id], [product_id], [quantity], [total_price], [data], [status]) VALUES (57, N'67520230310235955transactions', N'20230308195925products', 3, 259000, NULL, NULL)
INSERT [dbo].[orders] ([id], [transactions_id], [product_id], [quantity], [total_price], [data], [status]) VALUES (58, N'67520230310235955transactions', N'20230308201615products', 1, 5410000, NULL, NULL)
INSERT [dbo].[orders] ([id], [transactions_id], [product_id], [quantity], [total_price], [data], [status]) VALUES (59, N'29920230312184521transactions', N'20230308200403products', 3, 54138, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[transactions] ON 

INSERT [dbo].[transactions] ([id], [transactions_id], [status], [user_id], [username], [phonenumber], [gmail], [address], [total_price], [payment], [payment_info], [message], [security], [created], [shipping]) VALUES (32, N'29920230312184521transactions', -1, NULL, N'Trần Ngọc Chiến', N'1245678', N'chienchien123@gmail.com', N'Thanh hải thanh hà hải fuinge', 7842414, N'vnpay', N'Thanh toan bang: vnpay', N'Giao tận Ngõ', N'080156', CAST(N'2023-03-12T18:45:00' AS SmallDateTime), 1)
INSERT [dbo].[transactions] ([id], [transactions_id], [status], [user_id], [username], [phonenumber], [gmail], [address], [total_price], [payment], [payment_info], [message], [security], [created], [shipping]) VALUES (31, N'67520230310235955transactions', 1, NULL, N'Nguyễn Thị Linh Ngọc', N'1221212122', N'nguyenvannam.nvn842000@gmail.com', N'Nam Sách Hải Dương', 6237000, N'zalopay', N'Thanh toan bang: zalopay', N'Giao đến Hà Nội', N'080156', CAST(N'2023-03-11T00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[transactions] ([id], [transactions_id], [status], [user_id], [username], [phonenumber], [gmail], [address], [total_price], [payment], [payment_info], [message], [security], [created], [shipping]) VALUES (33, N'75620230312184858transactions', 0, NULL, N'Nguyễn Văn Nam', N'45645645', N'nguyenvannam842000@gmail.com', N'Taito - Tokto - Nhật Bản', 17774000, N'momo', N'Thanh toan bang: momo', N'Giao cho Crush tôi :0', N'080156', CAST(N'2023-03-12T18:49:00' AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [gmail], [password], [username], [address], [phone], [avatar], [position], [created]) VALUES (1, N'Nam@gmail.com', N'0123', N'zsonvec98', N'Thanh hải thanh hà hải fuinge', N'123456', NULL, 1, NULL)
INSERT [dbo].[users] ([user_id], [gmail], [password], [username], [address], [phone], [avatar], [position], [created]) VALUES (2, N'Nam@gmail.com', N'0123456', N'thienthan10x99', N'Thanh hải thanh hà hải fuinge', N'123456', N'123456', 1, NULL)
INSERT [dbo].[users] ([user_id], [gmail], [password], [username], [address], [phone], [avatar], [position], [created]) VALUES (3, N'', N'123', N'Nam', N'Nam', N'123', NULL, NULL, CAST(N'2023-02-23T01:17:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_catalogs] FOREIGN KEY([transactions_id])
REFERENCES [dbo].[transactions] ([transactions_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_catalogs]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_products]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_catalogs] FOREIGN KEY([catalog_id])
REFERENCES [dbo].[catalogs] ([catalog_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_catalogs]
GO
USE [master]
GO
